.button{
  background: #0366a8;
  border: 0.2rem solid #0366a8;
  color: #fff;
  font-weight: 500;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
}

.disabled{
  background: #ccc;
  border: none;
  pointer-events: none;
}
.danger{
  background: #E52E3E;
  border: none;
}
.outline{
  background: transparent;
  border: 0.05rem solid #0366a8;
  border-radius: 5px;
  font-weight: 700;
  color: #0366a8;
}
.outline:hover{
  background: #E5EFF6;
}
.lg{
  padding: 1rem 2rem;
}
.md{
  padding: 0.6rem 1.2rem;
}
.sm{
  padding: 0.4rem 1rem;
}
.downloadBtn{
  display: flex;
  align-items: center;
  flex-direction: row;
}
.downloadLabel{
  margin-left: 0.5rem;
}